<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JiraApiHostUrl" value="https://xxxx.atlassian.net/rest/api/latest"/>
    <add key="Authorization.Header" value="Basic heade(c2d1cHRhGJyaW5rc2hvbWUuY29tOmJLSGJBSTFCRXRhNHdtdlpVQKRDVBQw==)"/>
    <add key="RemoteLinkTitle" value="TFS Changesets"/>
    <add key="AllowedJiraProjectsKey" value="JIRA PROJECT KEYS SEPARATED BY AllowedJiraProjectsKeySeparator"/>
    <add key="AllowedJiraProjectsKeySeparator" value=";"/>
    <add key="RemoteLinkIconUrl" value="https://user-images.githubusercontent.com/11133817/31283969-77272212-aab7-11e7-9190-f7544f7316ff.png"/>
    <add key="TfsChangesetBaseUrl" value="http://tfsserver:8080/tfs/DefaultCollection/_versionControl/changeset/"/>
  </appSettings>
</configuration>